---
// src/pages/work.astro
import { getGitHubRepos } from '../lib/github';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

// Fetch GitHub projects
const repos = await getGitHubRepos();
---

<BaseLayout
  title="My Work | Pablo Gulias"
  description="Learn about Pablo's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="See my most recent projects below."
        align="start"
      />
      <Grid variant="offset">
        {
          repos.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>